@model K_DLab2.Models.FormModel
@{
    ViewData["Title"] = "Form1";
    string leapYear = DateTime.IsLeapYear(Model.DataUrodzenia.Year) ? "Tak" : "Nie";
    int day = (DateTime.Now - Model.DataUrodzenia).Days;

    string Days;
    if (day > 0)
    {
        Days = day.ToString();
    }
    else { Days = " Error"; }
}

<div style="text-align:center;">
    <h3>Dane z formularza</h3>
    <div style="text-align:left;">
        @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
        <br />
        <label>Liczba dni od urodzenia: </label> @(Days)
        <br />
        <label>Ten rok jest przestępny </label> @(leapYear)
    </div>
    <br />
    <a href="/form1.html">Powrót do Formularza (HTML)</a>
    <br />
</div>
